/* google fonts need to be put here starting with '@import' */



/*
css reset - this sets ALL elements to have zero padding and margin, 
and to display in the more logical border-box style
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8e2ba;
}

nav {
	border: 2px solid rgb(4, 6, 89);
	padding: 20px;                   
	border-radius: 8px;               
	background-color: #97cde5;       
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 20px; 
}

nav ul li {
	list-style: none;
}

nav ul li a {
	background-color: #de5cd7;

	text-decoration: none;
}

nav ul li a:hover {
	background-color: #b13fc5; 
	color: #fff;              
	transform: scale(1.05);    
}

nav ul li a {
	background-color: #de5cd7;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 5px;
	display: inline-block;       
	transition: transform 0.2s ease, background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #b13fc5;     
	transform: scale(1.05);        
}



@media screen and (min-width: 768px) {
	nav ul {
		flex-direction: row;
		gap: 20px; 
	}
}